<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.Title }}</title>
    {{- $css := resources.Get "style.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>
<body>
<h1>{{ .Title | site.Home.RenderString }}</h1>
{{ .Content }}
{{- $page := partial "func/get-resource" (dict "src" "test.yaml" "ctx" . "errorLevel" "warning") }}
{{- $site := partial "func/get-resource" (dict "src" "style.css" "ctx" . "errorLevel" "warning") }}
{{- $remote := partial "func/get-resource" (dict "src" "https://picsum.photos/100/50" "ctx" . "errorLevel" "warning") }}

<h2>Examples</h2>
<dl>
    <dt>Page resource</dt>
    <dd>Get 'test.yaml' in the root of the content folder: {{ $page }}</dd>
    <dt>Site resource</dt>
    <dd>Get 'style.css' in the assets folder: {{ $site }}</dd>
    <dt>Remote resource</dt>
    <dd>Get an image from 'https://picsum.photos/100/50': {{ $remote }}</dd>
</dl>
<h3>Missing resources</h3>
<p>Depending on the error level the function ignores them, warns about them or breaks the build. The tests here lead to empty variables and <code>get-resource</code> writes a warning to the console:</p>
{{- $missing := partial "func/get-resource" (dict "src" "missing.yaml" "ctx" . "errorLevel" "warning") }}
{{- $remotemissing := partial "func/get-resource" (dict "src" "https://picsum/100/50" "ctx" . "errorLevel" "warning") }}
<dl>
    <dt>Local resource (for page or site)</dt>
    <dd>Get 'missing.yaml': {{ $missing }}</dd>
    <dt>Remote resource</dt>
    <dd>Get an image from 'https://picsum/100/50': {{ $remotemissing }}</dd>
</dl>
</body>
</html>
