<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.Title }}</title>
    {{- $css := resources.Get "style.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>
<body>
<h1>{{ .Title | site.Home.RenderString }}</h1>
{{ .Content }}
{{- readFile "get-resource.md" | site.Home.RenderString }}
{{- $page := partial "mod-resource/func/get" (dict "url" (urls.Parse "test?q=empty") "ctx" . "errorLevel" "warning") }}
{{- $site := partial "mod-resource/func/get" (dict "url" (urls.Parse "style.css") "ctx" . "errorLevel" "warning") }}
{{- $remote := partial "mod-resource/func/get-with-params" (dict "url" (urls.Parse "https://picsum.photos/100/50") "ctx" . "errorLevel" "warning") }}
{{- $data := partial "mod-resource/func/get-with-params" (dict "url" (urls.Parse "data.yaml") "ctx" . "errorLevel" "warning") }}

<h3>Demonstration</h3>
<dl>
    <dt>Page resource</dt>
    <dd>Get 'test?q=empty' in the root of the content folder: <strong>{{ $page }}</strong></dd>
    <dt>Site resource</dt>
    <dd>Get 'style.css' in the assets folder: <strong>{{ $site }}</strong></dd>
    <dt>Remote resource</dt>
    <dd>Get an image from 'https://picsum.photos/100/50': <strong>{{ $remote }}</strong></dd>
    <dt>Resource in data file</dt>
    <dd>Read 'data.yaml' and get an image from 'https://picsum.photos/100/100': <strong>{{ $data }}</strong></dd>
</dl>
<h3>Missing resources</h3>
<p>Depending on the error level the function ignores them, warns about them or breaks the build. The tests here lead to empty variables and <code>get-resource</code> writes a warning to the console:</p>
{{- $missing := partial "mod-resource/func/get-with-params" (dict "url" (urls.Parse "test-missing") "ctx" . "errorLevel" "warning") }}
{{- $remotemissing := partial "mod-resource/func/get-with-params" (dict "url" (urls.Parse "https://picsum/100/50") "ctx" . "errorLevel" "warning") }}
<dl>
    <dt>Local resource (for page or site)</dt>
    <dd>Get 'test-missing.yaml': <strong>{{ $missing }}</strong></dd>
    <dt>Remote resource</dt>
    <dd>Get an image from (non-existing) 'https://picsum/100/50': <strong>{{ $remotemissing }}</strong></dd>
</dl>
</body>
</html>
